#about-section {
  background: url('../images/about-section-img.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 98;
  filter: contrast(110%);

  .about-section-items-container {
    height: 780px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25px;

    h2, h4  {
      color: $primary-font-color;

    }

    h2, h4 {
      font-size: 70px;
      line-height: 1.3;
      width: 85%;
      margin-bottom: 25px;
    }

    h4 {
      font-size: 30px;
      font-weight: 600;
    }

    .primary-btn {
      @include primary-btn;
    }

    .primary-btn:hover {
      background: $primary-theme-color;
    }

  }
}

#about-section::after {
  @include image-overlay;
}

@media (max-width: 768px) {
  #about-section {
    .about-section-items-container {
      height: 500px;
      h2 {
        font-size: 35px;
      }
      h4 {
        font-size: 25px;
      }
    }
  }
}