#filter {
  .filter-container {
    background: #545e65;
    color: $primary-font-color;
    padding: 40px;
    width: 100%;

    h3 {
      font-size: 30px;
      font-weight: 600;
      line-height: 1.3;
      margin-bottom: 30px;
    }

    .fields-wrapper {
      width: 100%;

      .top-block,
      .bottom-block {
        display: flex;
        flex-direction: column;
      }

      label {
        font-size: 16px;
        font-weight: 600;
      }

      .top-block {
        select {
          width: 100%;
          height: 45px;
          padding: 12px 20px;
          color: $secondary-font-color;
          margin-bottom: 10px;
          border: none;
        }

        select:focus {
          outline: none;
        }
      }

      .bottom-block {

        select {
          width: 100%;
          height: 45px;
          padding: 12px 20px;
          color: $secondary-font-color;
          margin-bottom: 10px;
          border: none;
        }

        select:focus {
          outline: none;
        }
        
        .input-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          input {
            width: calc(50% - 5px);
            height: 45px;
            padding: 12px 20px;
            color: $secondary-font-color;
            margin-bottom: 10px;
            border: none;
          }

          input:focus {
            outline: none;
          }
        }
      }
    }
  }
}
