header {
  position: relative;
  z-index: 99;
  width: 100%;
  background: $secondary-theme-color;

  .top-panel {
    background: $secondary-theme-color;
    border: 1px solid $border-color;

    .top-panel-items-container {
      padding: 12px 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left-col {
        color: #778289;
        font-size: 12px;

        .highlight {
          color: $primary-theme-color;
          text-decoration: none;
          font-weight: 400;
        }
      }

      .right-col {
        .social-media-icons {
          font-size: 1.2rem;
          color: $primary-theme-color;
          margin-left: 20px;
        }
      }

      .highlight,
      .social-media-icons {
        transition: $primary-transition;
      }

      .highlight:hover,
      .social-media-icons:hover {
        color: $primary-font-color;
      }
    }
  }

  .header-container {
    display: block;

    .header-items-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 25px;

      .branding {
        display: flex;
        align-items: center;
        color: $primary-font-color;

        .branding-icon {
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;
          font-size: 27px;
          margin-right: 5px;
          color: $primary-theme-color;
        }

        h1 {
          font-size: 2rem;
          font-weight: 700;

          span {
            font-weight: 300;
          }
        }
      }

      nav {
        a {
          position: relative;
          text-decoration: none;
          text-transform: uppercase;
          margin: 0px 20px;
          font-weight: 600;
          color: $primary-font-color;
        }

        a::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 4px;
          top: 22px;
          right: 0;
          bottom: 0;
          left: 0;
          background: $primary-theme-color;
          transition: $primary-transition;
          transform: scale(0, 1);
        }

        .is-active::after {
          transform: scale(1, 1);
        }

        a:hover::after {
          transform: scale(1, 1);
        }

        .not-active {
          color: rgb(233, 34, 34);
        }
      }

      .info-block {
        text-align: right;
        font-size: 0.875rem;
        color: $primary-font-color;

        .info-block-phone {
          display: flex;
          align-items: center;

          .phone-icon {
            font-size: 23px;
            margin-right: 5px;
            color: $primary-theme-color;
          }
          h4 {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

// Mobile Header

.mobile-header-container {
  display: none;
  .header-items-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;

    .header-top-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 20px 0px;

      .branding {
        display: flex;
        align-items: center;
        color: $primary-font-color;

        .branding-icon {
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;
          font-size: 27px;
          margin-right: 5px;
          color: $primary-theme-color;
        }

        h1 {
          font-size: 2rem;
          font-weight: 700;

          span {
            font-weight: 300;
          }
        }
      }

      .info-block {
        text-align: right;
        font-size: 0.875rem;
        color: $primary-font-color;

        .info-block-phone {
          display: flex;
          align-items: center;

          .phone-icon {
            font-size: 23px;
            margin-right: 5px;
            color: $primary-theme-color;
          }
          h4 {
            font-size: 1.6rem;
          }
        }
      }
    }

    .header-bottom-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .mobile-btn {
        display: flex;
        align-items: center;
        padding: 5px 0px;
        background: $secondary-theme-color;
        color: $primary-font-color;
        border: none;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.125rem;
        .mobile-menu-icon {
          font-size: 1.125rem;
          margin-right: 5px;
        }
      }

      .menu-open {
        height: 270px;
      }
      .menu-closed {
        height: 0px;
      }

      .spinner {
        transform: rotateZ(0deg);
        animation: spin 333ms forwards;
      }

      @keyframes spin {
        0% {
          transform: rotateZ(0deg);
        }
        100% {
          transform: rotateZ(180deg);
        }
      }

      .mobile-btn:focus {
        outline: none;
      }

      nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        overflow: hidden;
        height: 0px;
        transition: $primary-transition;

        a {
          width: auto;
          position: relative;
          text-decoration: none;
          text-transform: uppercase;
          margin: 10px 0px;
          font-weight: 600;
          color: $primary-font-color;
        }

        a::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 4px;
          top: 22px;
          right: 0;
          bottom: 0;
          left: 0;
          background: $primary-theme-color;
          transition: $primary-transition;
          transform: scale(0, 1);
        }

        .is-active::after {
          transform: scale(1, 1);
        }

        a:hover::after {
          transform: scale(1, 1);
        }

        .not-active {
          color: rgb(233, 34, 34);
        }
      }
    }
  }
}

// Media Queries

@media (max-width: 1300px) {
  header {
    .header-container {
      .header-items-container {
        flex-direction: row;
        flex-wrap: wrap;

        nav {
          a {
            margin: 0;
            margin-right: 20px;
          }
        }

        .info-block {
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 1164px) {
  nav {
    order: 3;
  }
}

@media (max-width: 736px) and (min-width: 320px) {
  header {
    .header-container {
      display: none;
    }
    .mobile-header-container {
      display: block;
    }

    .top-panel {
      .top-panel-items-container {
        flex-direction: column;

        .left-col {
          margin-bottom: 12px;
          text-align: center;
        }

        .right-col {
          .social-media-icons {
            margin: 0px 10px;
          }
        }
      }
    }

    .header-top-container {
      flex-direction: column;
      align-items: center;

      .info-block {
        p {
          text-align: center;
        }
      }
    }
  }
}
