#landing-section {
  background: url('../images/landing-img.jpg') no-repeat;
  background-size: cover;
  background-position: left;
  position: relative;
  z-index: 98;
  filter: contrast(110%);


  .landing-section-items-container {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25px;

    h2, p  {
      color: $primary-font-color;

    }

    h2 {
      font-size: 70px;
      line-height: 1.1;
      width: 45%;
      margin-bottom: 25px;
    }

    p {
      width: 30%;
    }

    .primary-btn {
      @include primary-btn;
    }

    .primary-btn:hover {
      background: $primary-theme-color;
    }
  }

}

#landing-section::after {
  @include image-overlay;
}