#listings-section {
  padding: 50px 0px;

  .content-wrapper {
    display: flex;
    .filter-area {
      border: 2px solid blue;
      width: 30%;
    }

    .listings-area {
      border: 2px solid red;
      width: 70%;
    }
  }
}