// Theme colors
$primary-theme-color: #FE5D4C;
$secondary-theme-color: #0A1923;

// Font colors
$primary-font-color: #FEFEFE;
$secondary-font-color: #666F75;
$third-font-color: #7F8990;

// Hover color
$primay-hover-color: #FEFEFE;

// Transitions
$primary-transition: all 300ms ease-in-out;

// Empty Image Background
$empty-image-bg: #f6f6ff;

// Border Color
$border-color: #222f38;
$card-border-color: #d6dee2;